body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#000;
  font-size: 16px;
  font-family: Helvetica;
}
body, a:link, a:visited, a:active{
  color: black;
}
.partnerButton, .releaseButton, .lineUpButton, .title, .addDancerButton{
  padding:5px 12px;
  float:right;
  color: black;
}

.releaseButton {
  display: none; 
}
.topbar{
  height:32px;
  background-color: white;
  z-index: 10;
}
.title{
  background-color: white;
  font-weight: bold;
}
.dancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}
.fadeDancer{
  background: url('heart.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  50px;
  height: 50px;
}
.giraffeDancer{
  background: url('giraffe.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 170px;
}
.animatedDancer{
  border:10px solid rgb(255, 0, 149);
  border-radius: 0px;
  animation:move 5s infinite;
}
#disco{
  text-align: center;
  z-index: -1;
}
.increaseSize{
  width:  300px;
  height: 300px;
}
@-webkit-keyframes move{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
