body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#000;
  font-size: 16px;
  font-family: Helvetica;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.lineUpButton, .title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  z-index: 10;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.fadeDancer{
  border:10px solid blue;
}
.animatedDancer{
  border:10px solid rgb(255, 0, 149);
  border-radius: 0px;
  animation:move 5s infinite;
}

#disco{
  text-align: center;
  z-index: -1;
}

.increaseSize{
  border:100px solid blue;
}

@-webkit-keyframes move{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}